<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>About</title>
</head>
<body>
    <div>
        <main>
        <h1>ABOUT HIM:</h1>
        <p>I present to you my favorite Superhero</p>
        <p>The character was created by artist Bob Kane and writer Bill Finger, and debuted in the 27th issue of the comic book Detective Comics on March 30, 1939.</p>
        <img width="500" height="500" src="img/batman2.jpeg" alt="batman intro">
        <p>A little intro</p>
        <p>In the DC Universe continuity, Batman is the alias of Bruce Wayne, a wealthy American playboy, philanthropist, and industrialist who resides in Gotham City.</p>
        <img width="500" height="500" src="img/batman3.jpeg" alt="batman versions">
        <div><a href="/">Back Home</a></div>
        </main>        
    </div>    
</body>
</html>