<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>My favorite Superheroes</title>
</head>
<body>
    <div>
        <main>
        <h1>CHECK OUT THE HIGHLIGHTS</h1>
        <div>
        <p>Vs The Joker</p>
        <img width="500" height="500" src="img/batman4.jpeg" alt="batman vs the Joker">
        </div>
        <div>
        <p>Vs The penguin</p>
        <img width="500" height="500" src="img/batman5.jpeg" alt="batman vs the Penguin">
        </div>
        <div>
        <p>Vs The Riddler</p>
        <img width="500" height="500" src="img/batman6.jpeg" alt="batman vs the Riddler">
        </div>
        <a href= "/">Back Home</a>             
        </main>        
    </div>    
</body>
</html>